
		/* Style sheet for DodajPrzychod.html, DodajWyadtek.html, PrzegladajBilans.html */
		
main
{
	width: 100%;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

form.data
{	
	display: grid;	
	grid-template-columns: auto;
	grid-row-gap: 20px;
	padding: 10px;		
}

div.inputDiv
{
	display: grid;
	grid-template-columns: 213px auto;
	grid-column-gap: 10px;
	//background-color: #474474;	
	width: fit-content;
}

div.inputDiv[name=amount]
{
	grid-template-columns: 213px auto auto;
}

div.inputDiv > *
{	
	//background-color: #363363;
}

div.inputDiv > label
{	
	text-align: right;
}

div.inputDiv:focus-within
{
	color: #ffffff;
}

div.inputDiv:hover
{
	color: #ffffff;
}

div.inputDiv:hover > input {border: 1px solid #ffffff;}
div.inputDiv:hover > select {border: 1px solid #ffffff;}
div.inputDiv:hover > textarea {border: 1px solid #ffffff;}

.finances
{	
	border-radius: 8px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 8px;
	font-size: 24px;
}

#amount,
#datepicker
{
	width: 400px;
}

#comment
{	
	height: 200px;
	resize: none;	
	width: 800px;	
}

#categoriesMenu,
#paymentMethods
{	
	width: 400px;	
	text-decoration: none;
}


div.buttonsContainer
{
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 0;
}

input.button
{
	vertical-align: text-top;
	width: 196px;
	height: 32px;	
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
}

input.button:first-child
{
	margin-right: 8px;
}

#balanceRange
{	
	display: flex;
	padding-bottom: 50px;
	gap: 10px;
}

#balanceRangeSelect
{
	width: 240px;
}

.flexWrapper
{
	flex: 0 0 auto;
}

#datepickerFrom,
#datepickerTo
{
	width: 145px;
}

#swapWarning
{
	white-space: nowrap;
	display: inline;
	padding-left: 10px;
	font-size: 24px;
	color: #ffff00;
	visibility: hidden;
	font-style: italic;
}

#finances
{
	width: min-content;
	//border: 1px solid #c0c0c0;
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: min-content min-content min-content;
	grid-column-color: #ffffff;
	margin-right: 0;
}

.columnTitle
{
	text-align: center;
	padding-bottom: 5px;
	color: #ffffff;
}

#incomesTable,
#expensesTable
{
	width: min-content;
	display: grid;	
	grid-template-columns: max-content max-content;
	column-gap: 10px;
	row-gap: 4px;
}

.financeLabel,
.financeAmount
{
	font-size: 18px;
	width: max-content;	

	//background-color: #2b2d34;
	//color: red;
}
	
.financeLabel
{
	max-width: 200px;
	justify-self: end;
	text-align: right;	
}

.financeAmount
{
	align-self: end;
}

#balanceSummary
{
	display: flex;
	gap: 20px;
	font-size: 24px;
}

#total,
#balance
{
	display: flex;
}

#total
{
	gap: 5px;
}

#labels,
#amounts
{
	flex: 0 0 auto;
}

#labels div,
#amounts div
{
	padding-bottom: 8px;
}

#labels
{
	text-align: right;
}

#balance
{
	flex: 1 0 auto;
	flex-flow: column;
}

#balance div
{
	text-align:center;
	padding-bottom: 8px;
}

#balance div:last-child
{
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
}