
		/* Style sheet used for all projects .html's */

html
{
	min-height: 100%;
	position: relative;
}

body
{
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #1a1c23;
	color: #c0c0c0;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
}

h1
{	
	color: #ffffff;
	text-align: center;
}

p
{
	margin: 0;
}

input
{	
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
	box-sizing: border-box;
	background-color: #1a1c23;
	color: #ffffff;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	outline: none;	
}

input[type=submit]
{
	background-color: #c0c0c0;
	box-sizing: border-box;
	color: #1a1c23;
	cursor: pointer;
}

select
{
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
	color: #ffffff;
	outline: none;
	border: 1px solid #c0c0c0;
	box-sizing: border-box;
	background-color: #1a1c23;	
	border-radius: 8px;	
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 8px;
    -moz-padding-start: 8px;     
	text-decoration: none;
}

textarea
{
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
	border: 1px solid #c0c0c0;
	background-color: #1a1c23;
	color: #ffffff;
	outline: none;
	box-sizing: border-box;	
}

a
{
	text-decoration: none;
	color: #c0c0c0;
}

main
{	
	height: 100%;
	box-sizing: border-box;	
	font-size: 28px;
	overflow: auto;
}

	/* ----> hovers <---- */

input:hover,
select:hover,
textarea:hover
{
	border: 1px solid #ffffff;
}

input[type=submit]:hover
{
	background-color: #ffffff;
	color: #000000;
}

a:hover
{
	color: #ffffff;
}

	/* ----> focus <---- */

textarea:focus,
input:focus
{
	border: 1px solid #ffffff;
}